<header>
  <nav class="navbar">
    <div class="container-fluid">

      <div class="d-sm-none"> <!-- Cette classe signifie que le contenu sera visible uniquement sur les petits écrans (moins de largeur 'lg') -->
        <button class="navbar-toggler burger-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="burger-menu offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item"><a class="nav-link" [routerLink]="''">Home</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="'nos-produits'">Nos produits</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Nous découvrir</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="'contact'">Contactez-nous</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="logo">
        <img src="./assets/images/Logo-thr.png" alt="Logo">
      </div>

      <div class="menu d-none d-sm-flex"> <!-- Cette classe signifie que le contenu sera visible uniquement sur les écrans larges ('lg' et plus) -->
        <ul class="navbar-nav flex-row">
          <li class="nav-item"><a class="nav-link" [routerLink]="''">Home</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="'nos-produits'">Nos produits</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Nous découvrir</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="'contact'">Contactez-nous</a></li>
        </ul>
      </div>


      <div class="icons">
        <a [routerLink]="'connexion'"><i class='bx bxs-user-circle'></i></a>
        <a [routerLink]="'panier'"><i class='bx bx-cart'></i></a>
      </div>
    </div>
  </nav>
</header>
