<div class="container mt-5 main-content">

  <div class="row">
    <div class="col-6">
      <h1>Mon Profil</h1>
    </div>

    <div class="col-6">
      <button class="btn btn-primary float-end">Déconnexion</button>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 infos">
      <h2>Informations personnelles</h2>
      <!-- Affichez les informations personnelles du client ici -->
      <p>Nom: John Doe</p>
      <p>Email: john@example.com</p>
      <p>Téléphone: +1234567890</p>
      <!-- Ajoutez d'autres informations personnelles ici -->
    </div>
    <div class="col-md-6">
      <h2>Historique des commandes</h2>
      <!-- Affichez l'historique des commandes passées par le client ici -->
      <ul>
        <li>Commande #12345 - Date: 2023-07-15, Montant: $150</li>
        <li>Commande #67890 - Date: 2023-06-28, Montant: $200</li>
        <!-- Ajoutez d'autres commandes ici -->
      </ul>
    </div>
  </div>



  <div class="row mt-5">
    <div class="col-md-6 adresse">
      <h2>Adresse de livraison</h2>
      <!-- Affichez l'adresse de livraison du client ici -->
      <p>123 Rue Principale</p>
      <p>Ville: Villeville</p>
      <p>Code postal: 12345</p>
      <!-- Ajoutez d'autres détails d'adresse ici -->
    </div>
    <div class="col-md-6 adresse">
      <h2>Adresse de facturation</h2>
      <!-- Affichez l'adresse de facturation du client ici -->
      <p>123 Rue Facturation</p>
      <p>Ville: Factuville</p>
      <p>Code postal: 54321</p>
      <!-- Ajoutez d'autres détails d'adresse ici -->
    </div>
  </div>

  <h2 class="mt-5">Liste de souhaits</h2>
  <!-- Affichez la liste de souhaits du client ici -->
  <ul>
    <li>Produit A</li>
    <li>Produit B</li>
    <!-- Ajoutez d'autres produits de la liste de souhaits ici -->
  </ul>

  <img src="./assets/images/Logo-thr-noir.png" class="logo mt-5 mb-5">
</div>
