<div class="container">

    <h2 class="mt-4 mb-4 text-center">Panier</h2>

    <!-- Vérifier si le panier est vide -->
    <div class="row justify-content-center align-items-center" ><!--*ngIf="panier.length === 0"-->
      <div class="col-md-12 text-center">
        <p>Aucun produit dans le panier</p>
        <a [routerLink]="'/nos-produits'">Continuer mes achats</a>
      </div>
    </div>

    <!-- Afficher les produits dans le panier -->
    <div class="row justify-content-center align-items-center" ><!--*ngIf="panier.length > 0"-->
      <div class="col-md-8" ><!--*ngFor="let produit of panier"-->
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="chemin/vers/image.jpg" class="img-fluid" alt="Image du produit">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title">Nom du produit</h5>
                    <p class="card-text">Id : Identifiant du produit</p>
                    <p class="card-text">Taille : Taille du produit</p>
                  </div>
                  <div class="col-md-6">
                    <p class="card-text">Prix : Prix du produit</p>
                    <p class="card-text">Quantité : Quantité du produit</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Afficher le bouton de paiement si le panier n'est pas vide -->
    <div class="row" ><!--*ngIf="panier.length > 0"-->
      <div class="col-md-12 text-center mb-5">
        <button class="btn btn-primary btn-lg">Paiement</button>
      </div>
    </div>

</div>
