<section class="container products mt-5 text-center">
  <h2 class="mb-4">Tous les produits</h2>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
      <a [routerLink]="'produits'">
        <div class="product-item">
          <img class="product-image" src="./assets/images/produit-img.webp" alt="Produit 1">
          <div class="product-details">
            <div class="product-name">Montre</div>
            <div class="product-price">100 €</div>
          </div>
          <hr class="separator">
          <div class="product-category">Accessoires</div>
        </div>
      </a>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
      <div class="product-item">
        <img class="product-image" src="./assets/images/Bape-sneakers.png" alt="Produit 1">
        <div class="product-details">
          <div class="product-name">Montre</div>
          <div class="product-price">100 €</div>
        </div>
        <hr class="separator">
        <div class="product-category">Accessoires</div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
      <div class="product-item">
        <img class="product-image" src="./assets/images/produit-img.webp" alt="Produit 1">
        <div class="product-details">
          <div class="product-name">Montre</div>
          <div class="product-price">100 €</div>
        </div>
        <hr class="separator">
        <div class="product-category">Accessoires</div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
      <div class="product-item">
        <img class="product-image" src="./assets/images/produit-img.webp" alt="Produit 1">
        <div class="product-details">
          <div class="product-name">Montre</div>
          <div class="product-price">100 €</div>
        </div>
        <hr class="separator">
        <div class="product-category">Accessoires</div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
      <div class="product-item">
        <img class="product-image" src="./assets/images/produit-img.webp" alt="Produit 1">
        <div class="product-details">
          <div class="product-name">Montre</div>
          <div class="product-price">100 €</div>
        </div>
        <hr class="separator">
        <div class="product-category">Accessoires</div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
      <div class="product-item">
        <img class="product-image" src="./assets/images/produit-img.webp" alt="Produit 1">
        <div class="product-details">
          <div class="product-name">Montre</div>
          <div class="product-price">100 €</div>
        </div>
        <hr class="separator">
        <div class="product-category">Accessoires</div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
      <div class="product-item">
        <img class="product-image" src="./assets/images/produit-img.webp" alt="Produit 1">
        <div class="product-details">
          <div class="product-name">Montre</div>
          <div class="product-price">100 €</div>
        </div>
        <hr class="separator">
        <div class="product-category">Accessoires</div>
      </div>
    </div>
  </div>
</section>
