/* Stylisation générale des formulaires */
.my-form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-label {
  font-weight: bold;
}


.description {
  height: 100px; /* Ajustez la hauteur souhaitée ici */
  resize: none; /* Empêche le redimensionnement */
}

/* Stylisation de la liste des utilisateurs */
.user-list {
  margin: 20px;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-item p {
  margin: 0;
  flex-grow: 1;
}

.user-item button {
  margin-left: 10px;
}


/* Stylisation du formulaire d'édition d'utilisateur */
.edit-user-form {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #d1d3e2;
  border-radius: 5px;
  margin-top: 20px;
}

.edit-user-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.edit-user-form .form-group {
  margin-bottom: 15px;
}

.edit-user-form button {
  margin-right: 10px;
}



/* Style tableau utilisateur */
/* Dans votre fichier CSS ou via les balises <style> dans le composant */
.table-container {
  overflow-x: auto; /* Add horizontal scrollbar when table overflows */
  max-width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #f8f9fa;
}


/* Stylisation de la barre de recherche */
.search-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 10px;
}

.search-bar input:focus {
  outline: none;
  border-color: #0066cc;
  box-shadow: 0 0 4px rgba(0, 102, 204, 0.5);
}

.search-bar input::placeholder {
  color: #999;
}


/* Media query for small screens */
@media screen and (max-width: 768px) {
  .table th,
  .table td {
    white-space: nowrap; /* Prevent text wrapping */
  }

  /* Add scrollbar for small screens */
  .table-container {
    overflow-y: auto; /* Add vertical scrollbar when table content overflows */
    max-height: 300px; /* Set a maximum height for the table */
  }
}

