<div class="container">
  <h2 class="mt-4 mb-4 text-center">Administration</h2>

  <button class="btn btn-primary mt-3">Déconnexion</button>

  <div class="row mt-5">
    <div class="col-md-6">

      <!-- FORMULAIRE D'AJOUT DE CATEGORIE -->
      <h3>Ajouter une catégorie</h3>
      <form class="my-form" (ngSubmit)="ajoutCategorie()">
        <label class="form-label">Nom:</label>
        <input type="text" class="form-control" [(ngModel)]="nouvelleCategorie.nom" name="nom" required/>

        <button type="submit" class="btn btn-primary mt-3">Ajouter Catégorie</button>
      </form>
    </div>

    <div class="col-md-6">
      <!-- FORMULAIRE D'AJOUT DE PRODUIT -->
      <h3>Ajouter un produit</h3>
      <!--<form class="my-form" (ngSubmit)="ajoutProduit()">
        <label class="form-label">Nom:</label>
        <input class="form-control" name="nom" [(ngModel)]="nouveauProduit.nom" required/>

        <label class="form-label">Prix:</label>
        <input class="form-control" name="prix" [(ngModel)]="nouveauProduit.prix" required/>

        <label class="form-label">Description:</label>
        <textarea class="form-control description" name="description" [(ngModel)]="nouveauProduit.description" required></textarea>

        <label class="form-label">Photo:</label>
        <input class="form-control" type="text" name="photo_produit" [(ngModel)]="nouveauProduit.photoProduit" required/>

        <label class="form-label">Catégorie:</label>
        <select class="form-control" name="id_categories" [(ngModel)]="nouveauProduit.idCategories">
          <option value="" disabled selected>Choisissez une catégorie</option>
          <option *ngFor="let cat of categories" [value]="cat" required>{{ cat.nom }}</option>
        </select>

        <button type="submit" class="btn btn-primary mt-3">Ajouter Produit</button>
      </form>-->




      <form class="my-form" [formGroup]="produitsFormGroup" (ngSubmit)="ajoutProduit()">
        <label class="form-label">Nom:</label>
        <input type="text" class="form-control" name="nom" formControlName="nom" required/>

        <label class="form-label">Prix:</label>
        <input type="number" class="form-control" name="prix" formControlName="prix" required/>

        <label class="form-label">Description:</label>
        <textarea class="form-control description" name="description" formControlName="description" required></textarea>

        <label class="form-label">Photo:</label>
        <input class="form-control" type="text" name="photo_produit" formControlName="photoProduit" required/>

        <label class="form-label">Catégorie:</label>
        <select class="form-control" name="id_categories" formControlName="idCategories">
          <option value="" disabled selected>Choisissez une catégorie</option>
          <option *ngFor="let cat of categories" [ngValue]="cat" required>{{ cat.nom }}</option>
        </select>

        <button type="submit" class="btn btn-primary mt-3">Ajouter Produit</button>
      </form>
    </div>
  </div>


  <!-- Affichage de la liste des des catégories -->
  <h3 class="user-list">Liste des catégories</h3>
  <div class="table-container">
    <table class="table" *ngIf="!categorieEnCoursEdition">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let categories of categories">
        <td>{{categories.id}}</td>
        <td>{{categories.nom}}</td>
        <td><button class="btn btn-secondary btn-sm" (click)="openEditFormCategorie(categories)">Editer</button></td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- Formulaire d'édition categorie -->
  <div class="edit-user-form mb-4" *ngIf="categorieEnCoursEdition">
    <h3 class="edit-user-title">Edition de la catégorie</h3>
    <form class="edit-user-form">
      <div class="table-container">
        <table class="table">
          <thead>
          <tr>
            <th>Identifiant</th>
            <th>Nom</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let categories of categories">
            <td>{{categories.id}}</td>
            <td>{{categories.nom}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group">
        <label>Nouveau Nom:</label>
        <input type="text" class="form-control" [(ngModel)]="categorieEditee.nom" name="nom"/>
      </div>
      <button type="submit" class="btn btn-primary" (click)="saveEditedCategorie()">Sauvegarder</button>
      <button type="button" class="btn btn-secondary" (click)="closeEditFormCategorie()">Annuler</button>
      <button type="submit" class="btn btn-danger float-end" (click)="deleteCategorie(categorieEditee)">Supprimer</button>
    </form>
  </div>




  <!-- Affichage de la liste des des produits -->
  <h3 class="user-list mt-5">Liste des produits</h3>

  <!-- Barre de recherche -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="barreRechercheProduits" (input)="searchProducts()" placeholder="Rechercher des produits...">
  </div>
  <div class="table-container">
    <table class="table" *ngIf="!produitEnCoursEdition">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Identifiant catégorie</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let produit of produits; let i = index">
        <tr *ngIf="(i < nbProduitsAffiches || barreRechercheProduits) && (produitsFiltres.includes(produit) || !barreRechercheProduits)" (click)="openEditFormProduit(produit)">
          <td>{{produit.id}}</td>
          <td>{{produit.nom}}</td>
          <td>{{produit.prix}}</td>
          <td>{{produit.description}}</td>
          <td>{{produit.photoProduit}}</td>
          <td>{{produit.idCategories}}</td>
          <td><button class="btn btn-secondary btn-sm" (click)="openEditFormProduit(produit)">Editer</button></td>
        </tr>
      </ng-container>
      </tbody>
      <div *ngIf="nbProduitsAffiches < produits.length">
        <button class="btn btn-primary mt-3" (click)="showMoreRows()">Voir plus</button>
      </div>
    </table>
  </div>


  <!-- Formulaire d'édition produits -->
  <div class="edit-user-form mb-4" *ngIf="produitEnCoursEdition">
    <h3 class="edit-user-title">Edition du produit</h3>
    <form class="edit-user-form">
      <div class="table-container">
        <table class="table">
          <thead>
          <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Identifiant catégorie</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let produit of produits">
            <tr *ngIf="produit.id === selectedProduitId">
              <td>{{produit.id}}</td>
              <td>{{produit.nom}}</td>
              <td>{{produit.prix}}</td>
              <td>{{produit.description}}</td>
              <td>{{produit.photoProduit}}</td>
              <td>{{produit.idCategories}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <label>Nouveau Nom:</label>
            <input type="text" class="form-control" [(ngModel)]="produitEdite.nom" name="nom"/>
          </div>
          <div class="col-lg-3">
            <label>Nouveau Prix:</label>
            <input type="text" class="form-control" [(ngModel)]="produitEdite.prix" name="prix"/>
          </div>
          <div class="col-lg-3">
            <label>Nouvelle description:</label>
            <input type="text" class="form-control" [(ngModel)]="produitEdite.description" name="description"/>
          </div>
          <div class="col-lg-3">
            <label>Nouvelle photo:</label>
            <input type="text" class="form-control" [(ngModel)]="produitEdite.photoProduit" name="photo"/>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary" (click)="saveEditedProduit()">Sauvegarder</button>
      <button type="button" class="btn btn-secondary" (click)="closeEditFormProduit()">Annuler</button>
      <button type="submit" class="btn btn-danger float-end" (click)="deleteProduit(produitEdite)">Supprimer</button>
    </form>
  </div>




  <!-- Affichage de la liste des utilisateurs et boutons pour l'édition -->
  <div *ngIf="!utilisateurEnCoursEdition">
    <h3 class="user-list mt-5">Liste des utilisateurs enregistrés</h3>

    <div class="search-bar">
      <input type="text" [(ngModel)]="barreRechercheUtilisateurs" (input)="searchUsers()" placeholder="Rechercher des utilisateurs...">
    </div>

    <div class="table-container">
      <table class="table">
        <thead>
        <tr>
          <th>Identifiant</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let utilisateur of utilisateurs; let i = index">
          <tr *ngIf="(i < nbUtilisateursAffiches || barreRechercheUtilisateurs) && (utilisateursFiltres.includes(utilisateur) || !barreRechercheUtilisateurs)">
            <td>{{ utilisateur.id }}</td>
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.prenom }}</td>
            <td>{{ utilisateur.role }}</td>
            <td><button class="btn btn-secondary btn-sm" (click)="openEditForm(utilisateur)">Editer</button></td>
          </tr>
        </ng-container>
        </tbody>
        <div *ngIf="nbUtilisateursAffiches < utilisateursFiltres.length">
          <button class="btn btn-primary mt-3" (click)="showMoreUsers()">Voir plus d'utilisateurs</button>
        </div>
      </table>
    </div>

  </div>



  <!-- Formulaire d'édition d'utilisateur -->
  <div *ngIf="utilisateurEnCoursEdition && utilisateurEdite" class="edit-user-form mb-4">
    <h3 class="edit-user-title">Edition de l'utilisateur</h3>
    <form class="edit-user-form">
      <div class="table-container">
        <table class="table">
          <thead>
          <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Rôle</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ utilisateurEdite.id }}</td>
            <td>{{ utilisateurEdite.nom }}</td>
            <td>{{ utilisateurEdite.prenom }}</td>
            <td>{{ utilisateurEdite.role }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-group">
        <label for="editedUtilisateurRole">Nouveau rôle:</label>
        <select class="form-select" id="editedUtilisateurRole" name="editedUtilisateurRole" [(ngModel)]="utilisateurEdite.role">
          <option value="Client">Client</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="saveEditedUtilisateur()">Sauvegarder</button>
      <button type="button" class="btn btn-secondary" (click)="closeEditForm()">Annuler</button>
    </form>
  </div>


</div>
