<app-header></app-header>

<main>
  <section class="banner">
    <img src="./assets/images/web-banner.jpg" alt="Image de la dernière collection">
    <div class="banner-content">
      <h2>Nom de la collection</h2>
      <p>Description de la collection</p>
      <a href="#"><button>Découvrir</button></a>
    </div>
  </section>

  <section class="container products mt-5">
    <h2>Nos produits</h2>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <a href="">
            <div class="product-card">
              <img src="./assets/images/produit-img.webp" alt="Produit 1">
              <div class="product-details">
                <h4>Nom du produit 1</h4>
                <p>Prix du produit 1</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="./assets/images/produit-img.webp" alt="Produit 2">
            <div class="product-details">
              <h4>Nom du produit 2</h4>
              <p>Prix du produit 2</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="./assets/images/produit-img.webp" alt="Produit 3">
            <div class="product-details">
              <h4>Nom du produit 3</h4>
              <p>Prix du produit 3</p>
            </div>
          </div>
        </div>
        <!-- Ajoutez d'autres produits ici -->
      </div>
    </div>

    <a href="#"><button>Découvrir plus</button></a>
  </section>
</main>



<app-footer></app-footer>
