<footer>
  <div class="footer-social">
    <a href="#"><i class='bx bxl-instagram'></i></a>
    <a href="#"><i class='bx bxl-tiktok'></i></a>
    <a href="#"><i class='bx bxl-twitter' ></i></a>
    <a href="#"><i class='bx bxl-youtube'></i></a>
  </div>

  <div class="footer-link">
    <a href="#">CGV</a>
    <a href="#">Mentions légales</a>
    <a href="#">Politique de confidentialité</a>
    <a href="#">Protection des données</a>
    <a href="#">Notre histoire</a>
    <a [routerLink]="'contact'">Contact</a>
    <a href="#">Livraison/Retour</a>
  </div>
  <p>©2023 THE RAVENS</p>
</footer>
