<footer>
  <div class="footer-social">
    <a [routerLink]="''"><i class='bx bxl-instagram'></i></a>
    <a [routerLink]="''"><i class='bx bxl-tiktok'></i></a>
    <a [routerLink]="''"><i class='bx bxl-twitter' ></i></a>
    <a [routerLink]="''"><i class='bx bxl-youtube'></i></a>
  </div>

  <div class="footer-link">
    <a [routerLink]="''">CGV</a>
    <a [routerLink]="''">Mentions légales</a>
    <a [routerLink]="''">Politique de confidentialité</a>
    <a [routerLink]="''">Protection des données</a>
    <a [routerLink]="'nous-decouvrir'">Notre histoire</a>
    <a [routerLink]="'contact'">Contact</a>
    <a [routerLink]="''">Livraison/Retour</a>
  </div>
  <p>©2023 THE RAVENS</p>
</footer>
